<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ShelterStone Template</title>
    <link rel="stylesheet" href="../css/foundation.min.css">
    <link rel="stylesheet" href="../css/app.css">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <!--Favicon code START-->

    <!--Favicon code END -->

</head>
<body>
<div class="row column text-center">
    <a href="../"><img src="../img/ShelterstoneLogo_Small.svg"/></a>
</div>


<!-- Start Top Bar -->
<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<!-- Start Top Bar -->
<div class="top-bar" id="main-menu">
    <div class="top-bar-left">
        <ul class="menu" data-responsive-menu="drilldown large-dropdown">
            <li class="menu-text">RGU: Shelterstone</li>
            <li class="has-submenu">
                <a href="../">Home</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="../news">News</a></li>
                    <li><a href="../news/announcements">Announcements</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">About</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="../about/club_information">Club Information</a></li>
                    <li><a href="../about/committee">Committee</a></li>
                    <li><a href="../about/join_us">Join Us!</a></li>
                    <li><a href="../about/history">History</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="../events">Events</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="../events">Event List</a></li>
                    <li><a href="../events/trips">Trips</a></li>
                    <li><a href="../events/competitions">Competitions</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="../gallery">Galleries</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="../gallery/events">Events</a></li>
                    <li><a href="../gallery/album/personal">Personal Album</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="../profile">Profile</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="../climbing_log">Climbing Log</a></li>
                    <li><a href="../profile">Personal Details</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Committee</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="../committee/member_management">Member Management</a></li>
                    <li><a href="../committee/event_management">Event Management</a></li>
                    <li><a href="../committee/agenda">Agenda's & Minutes</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="../login">Login</a>
                <ul class="submenu menu vertical" data-submenu>
                    <li><a href="../login">Sign in</a></li>
                    <li><a href="../register">Register</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="top-bar-right text-center">
        <ul class="menu">
            <li><input width="100%" type="search" placeholder="Search">
            <li>
                <button type="button" class="button">Search</button>
            </li>
        </ul>
    </div>
</div>
<!-- End Top Bar -->


<div class="row" id="content">
    <div class="medium-8 columns">
        <div class="blog-post">
            <h3>Awesome blog post title
                <small>3/6/2015</small>
            </h3>
            <img class="thumbnail" src="http://placehold.it/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim
                congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.
                Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.
                Nulla at nulla justo, eget luctus.</p>
            <div class="callout">
                <ul class="menu simple">
                    <li><a href="#">Author: Mike Mikers</a></li>
                    <li><a href="#">Comments: 3</a></li>
                </ul>
            </div>
        </div>

        <div class="blog-post">
            <h3>Awesome blog post title
                <small>3/6/2015</small>
            </h3>
            <img class="thumbnail" src="http://placehold.it/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim
                congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.
                Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.
                Nulla at nulla justo, eget luctus.</p>
            <div class="callout">
                <ul class="menu simple">
                    <li><a href="#">Author: Mike Mikers</a></li>
                    <li><a href="#">Comments: 3</a></li>
                </ul>
            </div>
        </div>

        <div class="blog-post">
            <h3>Awesome blog post title
                <small>3/6/2015</small>
            </h3>
            <img class="thumbnail" src="http://placehold.it/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim
                congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.
                Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.
                Nulla at nulla justo, eget luctus.</p>
            <div class="callout">
                <ul class="menu simple">
                    <li><a href="#">Author: Mike Mikers</a></li>
                    <li><a href="#">Comments: 3</a></li>
                </ul>
            </div>
        </div>

        <div class="blog-post">
            <h3>Awesome blog post title
                <small>3/6/2015</small>
            </h3>
            <img class="thumbnail" src="http://placehold.it/850x350">
            <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim
                congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci.
                Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum.
                Nulla at nulla justo, eget luctus.</p>
            <div class="callout">
                <ul class="menu simple">
                    <li><a href="#">Author: Mike Mikers</a></li>
                    <li><a href="#">Comments: 3</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="medium-3 columns" data-sticky-container>
        <div class="sticky" data-sticky data-anchor="content">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
            </ul>

            <h4>Authors</h4>
            <ul>
                <li><a href="#">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row column">
    <ul class="pagination" role="navigation" aria-label="Pagination">
        <li class="disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li><a href="#" aria-label="Next page">Next</a></li>
    </ul>
</div>

<footer class="row">

    <div class="large-12 columns">

        <hr/>

        <div class="row">

            <div class="large-6 columns">

                <p>&copy; Copyright Shelterstone</p>

            </div>

            <div class="large-6 columns">

                <ul class="inline-list right">

                    <li><a href="#">Link 1</a></li>

                    <li><a href="#">Link 2</a></li>

                    <li><a href="#">Link 3</a></li>

                    <li><a href="#">Link 4</a></li>

                </ul>

            </div>

        </div>
</footer>
</div>
<script src="../js/vendor/jquery.js"></script>
<script src="../js/vendor/foundation.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>